.examplemultiplebackgroundsa {
    width: 500px;
    height: 250px;
    
}

div{
    background-image: url("../imagenes/old_paper.jpg");
    text-align: right;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.second{
    width: 100px;
    height: 100px;
    background-image: url("../imagenes/ribbon.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 420px;
    top: 150px;
    z-index: 2;
}
.third{
    width: 100px;
    height: 100px;
    background-image: url("../imagenes/decoration.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 12;
}

    