body{
    display: grid;
    grid-template-areas: 
      "head head"
      "navv navv"
      "aside  main"
      "footer footer";
    grid-template-rows: 0.4fr 0.3fr 2fr 0.3fr;
    grid-template-columns: 25% 75%;
}
@include mediaBody780px;
@include mediaBody480px;
