header{
    @include flex_mixin;
    align-items: center;
    grid-area: head;


    div:first-of-type{
        flex: 1 0 auto;
        margin-left: $margin5;
    }

    div img{
        width: 150px;
    }

    h1{
        margin-right: $margin5;
    }
}

@include mediaHedaer780px;
@include mediaHedaer480px;
