body{
    margin: 50px;
}

div{
    border: 1px solid black;
    padding: 200px 100px;
    background: linear-gradient(45deg, rgba(248,80,50,1) 0%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 51%, rgba(0,0,255,1) 80%, rgba(64,0,240,1) 100%);

}
