@mixin flex_mixin{
    display: flex;
    flex-flow: row nowrap;
}

@mixin flex_mixinColum{
    display: flex;
    flex-flow: column nowrap;
}

@mixin mediaHedaer780px{
    
    @media screen and (max-width: 780px) {

        header{
          display: flex;
        }
    }
}

@mixin mediaHedaer480px{

    @media screen and (max-width: 480px) {

        header{
            display: flex;
            flex-flow: column wrap;
            text-align: center;
            padding: 30px;
           
            div:first-of-type{
                display: none;
            }
        }
    }
}

@mixin mediaNav780px{
    
    @media screen and (max-width: 780px) {

        nav{
            flex-flow: column-reverse;
            align-items: flex-start;
    
            ul{
                margin-top: 20px;
                margin-left: 5%;
                li{
                    align-items: center;
                }
            }
        }
    }
}

@mixin mediaNav480px{

    @media screen and (max-width: 480px) {

        nav{

            ul{
                margin: 5%;
                
            }
        }
    }
}

@mixin mediaAside780px{
    
    @media screen and (max-width: 780px) {

        aside{
            font-size: 15px;
        }
    }
}

@mixin mediaAside480px{

    @media screen and (max-width: 480px) {

        aside{
            text-align: center;
        } 
    }
}

@mixin mediaMain780px{
    
    @media screen and (max-width: 780px) {

        main{
            section{
                grid-template-areas: 
                    "nav2 nav2"
                    "article1 article2" 
                    "article3 article4" 
                    "article5 article6";
                grid-template-rows: 1fr 3fr 3fr 3fr;
                grid-template-columns: 1fr 1fr;
               

                nav{
                    margin-left: auto;
                    margin-right: auto;
                    ul{
                        display: flex;
                        align-items: center;
                        flex-flow: row wrap;   
                    }   
                }
            }
        }
    }
}

@mixin mediaMain480px{

    @media screen and (max-width: 480px) {

        main {

            section{
                padding:0px;
                grid-template-areas: 
                    "nav2"
                    "article1"
                    "article2" 
                    "article3" 
                    "article4" 
                    "article5" 
                    "article6";
                grid-template-rows: auto auto auto auto auto auto;
                grid-template-columns: 1fr;
                
                nav{
                    padding: 0%;
                    ul{
                        text-align: center;
                        width: 100%;
                        margin: 0;
                        display: flex;
                        flex-flow: column wrap;

                        li{
                            width: 100%;
                        }
                    }   
                }

                article{
                    width: 90%;
                    margin: auto;
                }
            }
        }  
    }
}

@mixin mediaFooter480px{

    @media screen and (max-width: 480px) {

        footer{
            flex-flow: column;
            align-items: center;
            ul{
                text-align: center;
                margin-right: auto;
                margin-left: auto;
                margin: 0px 30%;
                padding: 15px;
                width: 70%;
            }
        }
        
    }
}

@mixin mediaBody480px{

    @media screen and (max-width: 480px) {

        body{
            display: grid;
            grid-template-areas: 
                    "head head"
                    "navv navv"
                    "aside aside"
                    "main main"
                    "footer footer";
            grid-template-rows: 0.3fr 0.5fr 0.5fr 7fr 1fr;
            grid-template-columns: 2;
        }
        
    }
}


///pag1 main

@mixin mediaMainIndex780px{
    @media only screen and (max-width: 780px) {
        main{

            section{
                h2{
                    text-align: center;
                }
            }
            
            section:first-of-type{

                article{

                    .parrafos{
                        width: 100%;
                    }

                    img{
                        margin-left: auto;
                        margin-right: auto;
                        width: 50%;
                        height: 300px;
                    }
                } 
            }
            
            section:nth-child(3){

                article{

                    .parrafos{
                        width: 100%;
                    }

                    img{
                        margin-left: auto;
                        margin-right: auto;
                        width: 50%;
                        height: 300px;
                    }
                } 
            }
        }    
    }
}

@mixin mediaMainIndex480px{
    @media only screen and (max-width: 480px) {
        main{

            section:first-of-type{

                article{

                    .parrafos{
                        margin: 0 3%;
                        width: 100%;
                    }

                    img{
                        width: 100%;
                        height: 400px;
                    }
                } 
            }


            section:nth-child(2){

                article{
                    width: 100%;
                    padding-bottom: 20px;
                    .parrafos{
                        width: 100%;
                    }

                    img{
                        margin-left: auto;
                        margin-right: auto;
                        width: 90%;
                        height: 300px;
                    }
                } 
            }
        
            section:nth-child(3){

                article{
                    
                    .parrafos{
                        margin: 0 3%;
                        width: 100%;
                        p{
                            padding: 15px 0px;
                        }
                    }

                    img{
                        width: 100%;
                        height: 400px;
                    }
                } 
            }
           
            section:nth-child(4){

                article{


                    h2{
                        padding-bottom: 10px;
                        text-align: center;
                    }
                    .parrafos{
                        margin: 0 3%;
                        width: 100%;
                        p{
                            padding: 15px 0px;
                        }
                    }

                    img{
                        padding: 0 0;
                        width: 80%;
                        margin: 0 auto;
                        height: 300px;
                        padding-bottom: 20px;
                    }

                    div{
                        text-align: center;

                        div{
                            justify-content: center;
                            margin: 0 3%;
                            width: 100%;

                            form{
                                padding-top: 10px;
                            }
                        }
                    }
                } 
            }
        }
    }
}


