*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.bolsos article h2::before {
    content: '👜';
}
.zapatos article h2::before {
    content: '👞';

}
.comple article h2::before {
    content: '💎';

}
.botas article h2::before {
    content: '🥾';

}